{% extends "base.html" %}

<head>
{% block head %}
{{ super() }}
{% block title %}<meta name="title" content="403 Error" />{% endblock %}
{% endblock %}
</head>

<body>


    {% block topnavbar %}
    {{ super() }}

    {% endblock %}

    <div class="container-fluid">

    <nav>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="brand" href="/">Sean Bradley</a>

          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="blog">Blog</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
            <ul class="nav" style="float:right">
              <li><a href="admin_only">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->

          <div class="nav">
             <ul class="btn-toolbar" data-toggle="collapse" data-target=".nav-collapse">
                  <li class="btn-navbar btn-inverse"><a href="admin_only">Login</a></li>
                  <li class="btn-navbar btn-inverse"><a href="contact">Contact</a></li>
                  <li class="btn-navbar btn-inverse"><a href="blog">Blog</a></li>
                  <li class="btn-navbar btn-inverse"><a href="/">Home</a></li>
              </ul>
          </div>

        </div><!--/.container fluid -->
      </div><!--/.navbar-inner -->
    </div><!--/.navbar navbar-fixed-top -->

    {% block article_one %}
	{{ super() }}
    <div class="hero-unit">
        <h3>Hmmm.  I wouldn't do that again.</h3>
        <details>
            <div style="text-align: center">
                <img src="/static/img/merovingian.jpg" width="300" />
            </div>
            <h3>The server thinks you're very naughty for trying to go someplace you don't belong.  The polite (and smart) thing to do is: just walk away.</h3>
            <br />
            <h3>"The Keymaker is mine and I see no reason to give him up. No reason at all..."</h3>
            <br />
         </details>
     </div>
	{% endblock %}

	{% block sidebarnav %}
	{{ super() }}
	         <ul class="nav nav-list">
              <li class="nav-header">WEBSITES</li>
              <li><a href="http://bravoflix.com">Bravoflix</a>&mdash;Social TV for Cultural Connoisseurs</li>
              <li><a href="http://blogblimp.com">BlogBlimp</a>&mdash;Technology Consultancy for Artists</li>
              <li><a href="http://cityopera.net">CityOpera</a>&mdash;Creative Project / Talent Management</li>
              <li class="nav-header">ADDITIONAL LINKS</li>
              <li><a href="http://en.wikipedia.org/wiki/Sean_Bradley">Wikipedia</a></li>
              <li><a href="http://www.linkedin.com/in/seanbradley1">LinkedIn</a></li>
              <li><a href="http://www.facebook.com/cityopera">Facebook</a></li>
              <li><a href="http://www.twitter.com/#/bravoflix">Twitter</a></li>
              <li><a href="http://www.quora.com/Sean-Bradley">Quora</a></li>
              <li><a href="https://github.com/bravoflix">Github</a></li>
              <li><a href="http://blog.bravoflix.com/">BravoBlog</a></li>
            </ul>
	{% endblock %}

    <footer>
      <div id="footer">
          {% block footer %}
            <p><small>&copy; 2012 by Sean Bradley. <wbr>All rights reserved. Made with love in California on our family farm from free-range <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fblogblimp.com%2F">validated HTML5</a> and other fair-trade, organic ingredients.</small></p><br />
          {% endblock %}
      </div>
    </footer>
